extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/fancybox/jquery.fancybox.css")

block intro
	.container
		h1 Gallery
	
block content
	.container
		if galleries.length
			each gallery, i in galleries
				h3
					| #{gallery.name} 
					small.text-muted= gallery._.publishedDate.format('Do MMM YYYY')

				.row.gallery-images
					if gallery.heroImage.exists
						.col-sm-12.col-md-12.col-xs-12: img(src=gallery._.heroImage.limit(680,680)).img-rounded.img-center
				.row
					each image, i in gallery.images
						.col-xs-4.col-sm-3.col-md-2(style="margin-bottom: 30px;")
							a(href=image.limit(900,600), title=gallery.name + ' image ' + (i+1), rel=gallery.key).gallery-image
								img(src=image.fill(300,300), alt=gallery.name + ' image ' + (i+1)).img-thumbnail
					else
						each image in gallery.images
							.col-xs-6.col-sm-4.col-md-3.gallery-image: img(src=image.limit(300,300)).img-rounded
		else
			h3.text-muted There are no image galleries yet.

block page-js
	script(src="/js/fancybox/jquery.fancybox.pack.js")
	script.
		jQuery(function($) {
			$('.gallery-image').fancybox({
				prevEffect: 'none',
				nextEffect: 'none',
				closeBtn: false,
				helpers: {
					titl: {},
					buttons: {}
				}
			});
		});