extends ../layouts/default

include ../mixins/commenting

block content
	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/blog') &larr; back to the blog
			hr
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.title
					h5 Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| in 
							each cat, cat_i in data.post.categories
								a(href='/blog/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| by #{data.post.author.name.first}
				.post
					if data.post.image.exists
						.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
					!= data.post.content.full
				form(method='post', style="margin-bottom: 40px; margin-top: 40px;")
					input(type='hidden', name='action', value='comment.create')
					.media
						.pull-left
							if user
								img(src=user.photo.exists ? user._.photo.thumbnail(80,80) : 'http://placehold.it/80x80', alt=user.name.full, width=80, height=80).img-rounded
							else
								img(src='http://placehold.it/80x80', alt='Comment author placeholder', width=80, height=80).img-rounded
						.media-body
							textarea(name='content', placeholder=user ? 'Leave a comment...' : 'Please sign in to comment', disabled=!user, style="margin-bottom: 10px; min-height: 80px; resize: vertical;").form-control
							if user
								button(type='submit').btn.btn-primary Post Comment
							else
								ul.list-inline
									li: a(href='/keystone/signin').btn.btn-sm.btn-primary Sign in to Comment
				if comments && comments.length
					for comment in comments
						if comment.author
							div(id='comment-id-' + comment.id, style="margin-top: 20px;")
								.media
									.pull-left
										img(src=comment.author.photo.exists ? comment.author._.photo.thumbnail(80,80) : 'http://placehold.it/80x80', alt=comment.author.name.full, width=80, height=80).img-rounded
									.media-body
										p
											strong= comment.author.name.full
											if user && user.id === comment.author.id
												|  &middot; 
												a(href='?remove=comment&comment=' + comment.id, title='Delete this comment', rel='tooltip', data-placement='left').comment-delete.js-delete-confirm Delete
										p=comment.content.replace(/\n/g, '<br>')

block page-js
	script.
		jQuery(function($) {
			
			var comments = $('#comments');
			var input = $('.comment-field-input');
			var submit = comments.find('button[type=submit]');

			
			// Scroll to comments and focus input field
			function scrollToComments(e) {
				
				e.preventDefault();
				
				$('html, body').animate({ scrollTop: comments.offset().top }, 250);
				
				input.eq(0).focus();
			}
			$('[href="#comments"]').click( scrollToComments );
			
			
			
			// Check if field has content: enable/disable submit. Disable by default
			submit.attr('disabled','disabled');
			input.keyup(function() {
				if ($.trim($(this).val())) {
					submit.removeAttr('disabled');
				} else {
					submit.attr('disabled','disabled');
				}
			});
		});